* {
    box-sizing: border-box;
}

aside, div, section, header, footer, nav {
    display: block;
}
html{
    font-family: Arial, sans-serif;
    font-size: 16px;
}
body {
    margin: 0;
}
p{
    font-family: Arial, sans-serif;
}


[class*="col-"] {
    float: left;
    padding: 11px 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/*------------------------------grille de desktop-------------------------------------------------------*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
/**************---------------le HEADER--------------***********************************************/
#menu_fixe{
    background-color: white;
}
#menu_fixe li{
    line-height: 2px;
}
#menu_fixe a{
    color: #56aad6;
}
/*---------------------------*/
#second_menu{
background-color: #56aad6;
    height: 70px;
}
#second_menu a{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
#second_menu li{
    line-height: 70px;
    display: inline-block;
    width: 19%;
    text-align: center;
}
/*---------------------------*/
header li{
    list-style-type: none;
}
header li a {
    text-decoration: none;
}
header img{
    width: 170px;
}
/**************---------------le FOOTER--------------***********************************************/
footer{
    background-color: #000;
    position: relative;
}
footer li{
    list-style: none;
    color: #fff;
    margin-top: 30px;
    font-size: 1.3rem;
}
footer p{
    color: #fff;
}
#bloc_menu_footer{
    width: 30%;
    margin: 0 auto;
}
footer p{
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#logo_sociaux{
    position: absolute;
    width: 12%;
    top: 43px;
    text-align: right;
    left: 88%;
}

/**************---------------CONTACT--------------***********************************************/
.fond{
    background-color: #EBEBEB;
}

div.fond h1{
    text-align: center;
}
#bloc_text_contact{
    background-color: #fff;
    margin-left: 10%;
}
#bloc_adresse{
margin: 0 auto;
}
#bloc_horaire li{
    list-style: none;
}
#bloc_horaire ul{
    padding:0;
}
#bloc_form{
    background-color: #fff;
    margin: 2% 10%;
}
