* {
    box-sizing: border-box;
}

aside, div, section, header, footer, nav {
    display: block;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: Arial, sans-serif;
}
.invalid p{
    display:inline-block;
    width: 100%;
    color: red;

}
.invalid input{
    border: solid 1px red;
}


[class*="col-"] {
    float: left;
    padding: 11px 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/*------------------------------grille de desktop-------------------------------------------------------*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/**************---------------le HEADER--------------***********************************************/
#menu_fixe {
    min-width: 1150px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

#menu_fixe li {
    line-height: 2px;
}

#menu_fixe a {
    color: #56aad6;
}
/*---------------------------*/
#second_menu {
    min-width: 1150px;
    margin-top: 6%;
    background-color: #56aad6;
    height: 70px;
}

#second_menu a {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

#second_menu li {
    line-height: 70px;
    display: inline-block;
    width: 19%;
    text-align: center;
}

/*---------------------------*/
header li {
    list-style-type: none;
}

header li a {
    text-decoration: none;
}

header img {
    width: 170px;
}

/**************---------------le FOOTER--------------***********************************************/
footer {
    background-color: #000;
    height: 150px;
}

footer li {
    list-style: none;
    color: #fff;
    margin-top: 30px;
    font-size: 1.3rem;
}

footer p {
    color: #fff;
}

#bloc_menu_footer {
    width: 30%;
    margin: 0 auto;
}

footer p {
    text-align: center;

}

#logo_sociaux, #logo_sociaux img {
    margin: 0;
    padding: 0;
}

/**************---------------CONTACT--------------***********************************************/
.fond {
    background-color: #EBEBEB;
}

div.fond h1 {
    text-align: center;
    padding: 20px 0 0;
}

#bloc_text_contact {
    background-color: #fff;
    margin-left: 10%;
    padding-left: 9%;
}

#bloc_adresse {
    margin: 0 auto;
    padding: 0 50px;
}

#bloc_horaire {
    padding: 0 50px;
}

#bloc_horaire li {
    list-style: none;
}

#bloc_horaire ul {
    padding: 0;
}

#bloc_form {
    background-color: #fff;
    margin: 2% 10%;
}

#form_contact {
    padding: 0 50px;
}

#form_contact input[type='submit'] {
    margin-top: 2%;
    width: 11%;
    margin-left: 44%;
}

#form_contact input, textarea, select {

    border-radius: 5px;
    background-color: #E1E1E1;
}

#form_contact textarea {
    height: 140px;
}

#form_contact label {
    font-family: "Arial Black", sans-serif;
}

.line {
    border: 1px solid #000;
    position: absolute;
    height: 200px;
    left: 50%;
}
#logo_sociaux{
    position: absolute;
    /* top: 6%; */
    left: 83%;
}

/***********************************-----accueil-***-----------------------*/
.banner img:first-of-type {
    min-width: 1150px;
    width: 100%;
    height: 700px;
}

.categorie_index .col-4 img {
    width: 100%;
}

#promo_famille:hover .genre, #promo_mass:hover .genre, #promo_vieu:hover .genre {
    display: block;
    margin: 0;
    margin-bottom: 3.2%;
}

.genre {
    /*display: none pour le titre;*/
    position: absolute;
    bottom: 0;
    margin-bottom: -60px;
    padding-top: 20px;
    width: 93.9%;
    height: 60px;
    background-color: rgba(86, 170, 214, 0.7);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: margin 1s;
    transition: margin 1s;
}

#promo_famille, #promo_mass, #promo_vieu {
    overflow: hidden;
    position: relative;
    border: 1px solid #fff;
    text-align: center;
}
/********la bande******/
.bande_bleu img {
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: 1150px;
}

.text_bande_bleu {
    position: absolute;
    min-width: 1150px;
}

.text_bande_bleu p {
    color: white;
}

.text_bande_bleu div.col-8 p:first-of-type {
    width: 85%;
    text-align: left;
    height: 130px;
}

.text_bande_bleu div.col-4 p:first-of-type {
    height: 130px;
    line-height: 100px;
    border-right: 2px solid white;
    text-align: center;
    font-size: 20px;
}
/***********************************-----Inscription-***-----------------------*/
#bloc_text_contact {
    background-color: #fff;
    margin-left: 10%;
}

#bloc_sexe, #bloc_enfant {
    position: relative;
}

input[type='radio']:first-of-type, input[type='radio']:nth-of-type(2), input[type='checkbox']:first-of-type, input[type='checkbox']:nth-of-type(2) {
    position: absolute;
    top: 40%;
    left: 2%;
}

input[type='radio']:nth-of-type(2), input[type='checkbox']:nth-of-type(2) {
    left: 26%;
}

input[type='checkbox']:first-of-type, input[type='checkbox']:nth-of-type(2) {
    top: 65%;
}

.text_int {
    font-size: 1.1rem;
    text-align: center;

}

/*****************-------------------Le aside ------------------*/
#menu-deroulant {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 180px;
}

#menu-deroulant ul {
    padding: 0;
    margin-bottom: 5%;
    list-style: none;
    text-align: center;
}

#menu-deroulant li {
    margin-bottom: 7%;
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    border-radius: 6px;
    box-shadow: 3px 3px 3px #999;
    border: solid 1px #333A40
}

#menu-deroulant li li {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    border-radius: 0;
    background: #444;
    box-shadow: none;
    border: none;
    margin: 0
}

#menu-deroulant a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size: 1.2em
}

#menu-deroulant ul li a, #menu-deroulant li:hover li a {
    font-size: 1em
}

#menu-deroulant li:hover {
    background: #729EBF
}

#menu-deroulant li li:hover {
    background: #999;
}

#menu-deroulant ul li:last-child {
    border-radius: 0 0 6px 6px;
    border: none;
}

#menu-deroulant li:hover li {
    max-height: 15em;
}

#defillement {
    margin-top: 2%;
    height: 400px;
    padding-left: 0;
}

#defillement ul li a {
    list-style-type: none;
    color: white;
    text-align: left;
}